<<<<<<< HEAD
/* Progress Bars */
.progressBar {
  position: relative;
  display: flex;
  justify-content: space-between;
  counter-reset: step;
  margin: 2rem auto 4rem;
  width: 60%;
}
.progressBar::before, .progress {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 5px;
  width: 100%;
  background: #dcdcdc;
  z-index: -1;
}
.progress {
  background: #0b4eb3;
  transition: .35s;
  width: 0;
}
.progress-step {
  width: 3rem;
  height: 3rem;
  background: #dcdcdc;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.progress-step::before {
  counter-increment: step;
  content: counter(step);
  font-size: 1.2rem;
}
.progress-step::after {
  content: attr(data-title);
  position: absolute;
  top: 100%;
  font-size: 1.2rem;
  color: #666;
  width: 50%;
  text-align: center;
}
.progress-step-active {
  background: #0b4eb3;
  color: #f3f3f3;
}

/* Form */
.form-container {
  margin: 4rem auto 2rem;
}
form h3 {
  text-align: center;
}
form label {
  display: block;
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 5px;
}
form input, form textarea, form select {
  font-family: "Work Sans", sans-serif;
  padding: 1rem;
  background-color: #f5f5f5;
  border: 1px solid #f5f5f5;
  border-radius: 5px;
  width: 100%;
  font-size: 1.4rem;
}
form textarea {
  resize: none;
}
form input:focus, form textarea:focus, form select:focus {
  background: #e4e4e4;
  outline: none;
}
.form {
  width: 60%;
  margin: 1rem auto 6rem;
  border-radius: .35rem;
  padding: 3rem 4rem 6rem;
  font-family: 'Work Sans', serif;
  box-shadow: 2px 5px 35px #a0a0a0;
}
.form-step {
  display: none;
  transform-origin: top;
  animation: animate .5s;
}
.form-step-active {
  display: block;
}
.input-group {
  margin: 0 0 1.5rem 0;
}
.input-group-flex {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.input-group-flex > .input-group {
  width: 100%;
  flex: 0 0 48%;
  margin-top: 0;
}
.input-group-flex > .input-group > select {
  padding: .75rem;
  width: 100%;
}
.checkbox-group {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-top: 1rem;
}
.checked {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: .3rem 0 1rem 0;
}
.checked label {
  margin: 0;
}
.checked input {
  width: max-content;
  margin-left: .3rem;
}
.form-step-active a.btn {
  border-radius: 5px;
  font-size: 1.4rem;
  padding: 1rem 3rem;
  background-color: #2d0c5cde;
  color: #e4e4e4;
  text-align: center;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
.form-step div.label-flex {
  display: flex;
  gap: 2rem;
  align-items: center;
}
.form-step div.label-flex label {
  display: flex;
  align-items: center;
}
.form-step div.label-flex label > input {
  width: unset;
}
.form-step div.label-flex label > input[type="checkbox"] {
  margin-right: .5rem;
}

/* Button */
.btns-group {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}
.btns-group input {
  background-color: #846f86;
  color: #fff;
  font-weight: 500;
  padding: 1rem;
}

/* Media Queries */
@media screen and (max-width: 425px) {
  header {
    padding: 1rem 2rem;
  }
  header > a {
    font-size: 2.5rem;
    color: #2d0c5c;
    display: flex;
    align-items: center;
  }
  header .nav-list, header .authentication {
    display: none;
  }
  .form {
    width: 97%;
    padding: 3rem 2rem 6rem;
  }
  .progressBar {
    width: 80%;
  }
=======
/* Progress Bars */
.progressBar {
  position: relative;
  display: flex;
  justify-content: space-between;
  counter-reset: step;
  margin: 2rem auto 4rem;
  width: 60%;
}
.progressBar::before, .progress {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 5px;
  width: 100%;
  background: #dcdcdc;
  z-index: -1;
}
.progress {
  background: #0b4eb3;
  transition: .35s;
  width: 0;
}
.progress-step {
  width: 3rem;
  height: 3rem;
  background: #dcdcdc;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.progress-step::before {
  counter-increment: step;
  content: counter(step);
  font-size: 1.2rem;
}
.progress-step::after {
  content: attr(data-title);
  position: absolute;
  top: 100%;
  font-size: 1.2rem;
  color: #666;
  width: 50%;
  text-align: center;
}
.progress-step-active {
  background: #0b4eb3;
  color: #f3f3f3;
}

/* Form */
.form-container {
  margin: 4rem auto 2rem;
}
form h3 {
  text-align: center;
}
form label {
  display: block;
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 5px;
}
form input, form textarea, form select {
  font-family: "Work Sans", sans-serif;
  padding: 1rem;
  background-color: #f5f5f5;
  border: 1px solid #f5f5f5;
  border-radius: 5px;
  width: 100%;
  font-size: 1.4rem;
}
form textarea {
  resize: none;
}
form input:focus, form textarea:focus, form select:focus {
  background: #e4e4e4;
  outline: none;
}
.form {
  width: 60%;
  margin: 6rem auto;
  margin-top: 1rem;
  border: 1px solid #cccc;
  border-radius: .35rem;
  padding: 3rem 4rem 6rem;
  font-family: 'Work Sans', serif;
  box-shadow: 2px 5px 35px #a0a0a0;
}
.form-step {
  display: none;
  transform-origin: top;
  animation: animate .5s;
}
.form-step-active {
  display: block;
}
.input-group {
  margin: 0 0 1.5rem 0;
}
.input-group-flex {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.input-group-flex > .input-group {
  width: 100%;
  flex: 0 0 48%;
  margin-top: 0;
}
.input-group-flex > .input-group > select {
  padding: .75rem;
  width: 100%;
}
.checkbox-group {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-top: 1rem;
}
.checked {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: .3rem 0 1rem 0;
}
.checked label {
  margin: 0;
}
.checked input {
  width: max-content;
  margin-left: .3rem;
}
.form-step-active a.btn {
  border-radius: 5px;
  font-size: 1.4rem;
  padding: 1rem 3rem;
  background-color: #2d0c5cde;
  color: #e4e4e4;
  text-align: center;
}
.form-step div.label-flex {
  display: flex;
  gap: 2rem;
  align-items: center;
}
.form-step div.label-flex label {
  display: flex;
  align-items: center;
}
.form-step div.label-flex label > input {
  width: unset;
}
.form-step div.label-flex label > input[type="checkbox"] {
  margin-right: .5rem;
}

/* Button */
.btns-group {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
}
.btns-group input {
  background-color: #846f86;
  color: #fff;
  font-weight: 500;
  padding: 1rem;
>>>>>>> 330fea9d67f808ca517610f4ef3be90955eb3464
}