
/* Hero Section */
.page-wrapper {
  position: relative;
  background: url(../images/building.jpg);
  border-radius: 20px;
  margin: 10rem 4rem 2rem;
  padding: 4rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page-wrapper .overlay {
  position: absolute;
  inset: 0;
  content: '';
  opacity: .5;
  border-radius: 20px;
  background: #000;
}
.page-wrapper .hero-text {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  align-items: center;
  color: #fff;
  z-index: 1;
  justify-content: space-between;
}
.page-wrapper .hero-text .banner {
  font-size: 4rem;
  line-height: 1;
}
.page-wrapper .hero-text .banner .welcome-text {
  font-size: 1.5rem;
  margin-top: 2rem;
  max-width: 40ch;
  line-height: 1.3;
}
.hero-text .banner-btn {
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  background-color: #2d0c5c;
  color: #fff;
  border: none;
  width: max-content;
  padding: 1rem 4rem;
  border-radius: 20px;
}
.hero-text .banner-achievements {
  display: flex;
  gap: 3rem;
}
.hero-text .banner-achievements .achievement {
  font-size: 2rem;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.hero-text .banner-achievements .achievement span {
  font-size: 1rem;
  font-weight: 500;
}
.page-wrapper .hero-img {
  flex: 0 0 50%;
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
}

/* Search Form */
.search-form {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  align-items: center;
  transform: translateY(-90px);
}
.search-form .search-form-tabs {
  border-radius: 15px;
  padding: .5rem 2rem 2rem 2rem;
  font-size: 1.2rem;
  background: #f5f5f5;
  display: flex;
  gap: 1.5rem;
}
.search-form .search-form-tabs a {
  color: #2d0c5c;
  font-weight: 500;
}
.search-form .search-form-tabs a.active {
  border-bottom: 2px solid #2d0c5c;
  font-weight: 600;
}
.search-form .search-form-box {
  background: #fff;
  width: 60%;
  padding: 1rem 3rem;
  border-radius: 15px;
  box-shadow: 3px 3px 30px #a0a0a0;
  transform: translateY(-15px);
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.search-form .search-form-box .input-group label {
  display: block;
  font-size: 1.3rem;
  margin: 10px 0 5px 3px;
  font-weight: 600;
}
.search-form .search-form-box .input-group select,
.search-form .search-form-box .input-group input,
.search-form .search-form-box .search {
  font-family: "Work Sans", sans-serif;
  padding: .8rem 1.2rem;
  border-radius: 5px;
  background: #f5f5f5;
  border: none;
}
.search-form .search-form-box .search {
  background: var(--nav-link);
  color: #fff;
  font-weight: 500;
  display: flex;
  align-items: center;
}

/* Viewed Properties */
.views {
  padding: 0 4rem 6rem 4rem;
}
.views .views-tab {
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
}
.views .views-tab p {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 2rem;
}
.views .views-tab p i {
  font-size: 4rem;
}
.views .views-tab p i:last-child {
  font-weight: 600;
}
.views .views-tab p:first-child > img {
  margin-right: 1rem;
}
.views > p {
  font-size: 1.5rem;
  max-width: 55ch;
  margin-top: 1rem;
}
.views h3 {
  margin-top: 1rem;
}
.views .cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  margin-top: 3rem;
}
.views .cards .card {
  aspect-ratio: 1 / 1;
  border-radius: 20px;
  background: #fff;
  box-shadow: 2px 2px 30px #a0a0a0;
}
.views .cards .card .card-info {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}
.views .cards .card .card-info p {
  font-size: 1.5rem;
  font-weight: 500;
}
.views .cards .card .room-group, .views .cards .card .purchase-group {
  display: flex;
  align-items: center;
  gap: 3rem;
}
.views .cards .card .purchase-group {
  margin-top: 1rem;
}
.views .cards .card .purchase-group button {
  font-family: inherit;
  padding: .8rem 2rem;
  border: none;
  border-radius: 20px;
  background-color: #1e0fa3;
  color: #fff;
}
.views .cards .card .purchase-group p {
  font-weight: 600;
  font-size: 1.7rem;
}
.views .cards .card p > i {
  color: #1e0fa3;
}
.views .cards .card img {
  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.views .cards .bg-image {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../images/6.jpg');
  background-size: cover;
  background-position: center;
}
.bg-image .overlay {
  position: absolute;
  inset: 0;
  content: '';
  opacity: .5;
  border-radius: 20px;
  background: #000;
}
.views .cards .bg-image-two {
  background-image: url('../images/4.jpg');
  width: 100%;
}
.views .cards .bg-image-three {
  background-image: url('../images/3.jpg');
  width: 100%;
}
.views .cards .card .neighbourhood {
  position: absolute;
  color: #fff;
  font-size: 2.5rem;
  font-weight: 600;
  text-align: center;
  width: 100%;
  top: 50%;
}
.views .cards .card .neighbourhood i {
  font-size: 8rem;
  color: #fff;
}
.views-dark {
  background-color: #343232;
  padding: 6rem 4rem;
  color: #fff;
}
.views-dark hr {
  margin-top: 4rem;
  width: 50%;
  margin-bottom: 2rem;
  border: none;
  height: 0.5px;
  background-color: white;
}

/* Services Section */
.views .services-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  gap: 2rem;
}
.services-section .cards {
  display: flex;
  flex: 0 0 50%;
  margin-top: 0;
}
.services-section .services {
  padding: 2rem 0;
  flex: 0 0 50%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.services-section .services p.uppercase {
  font-weight: 600;
  font-size: 2rem;
  display: flex;
  gap: .5rem;
  align-items: center;
}
.services-section .services h3 {
  max-width: 22ch;
  margin-left: 5.5rem;
}
.services-section .services p.services-info {
  font-size: 1.5rem;
  max-width: 45ch;
  margin-left: 5.5rem;
}
.services-section .services ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
  margin-left: 5.5rem;
}
.services-section .services ul li {
  list-style: disc;
}
.services-section .services button {
  font-family: inherit;
  font-size: 1.5rem;
  width: max-content;
  padding: .8rem 3rem;
  border: none;
  background-color: #2d0c5c;
  font-weight: 500;
  border-radius: 20px;
  color: #fff;
  margin-left: 5.5rem;
}

/* Testimonials */
.views .cards-flex {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  align-items: flex-start;
}
.cards-flex .testimonial-author {
  flex: 0 0 35%;
}
.cards-flex .testimonial-info {
  display: flex;
  flex: 0 0 55%;
}
.cards-flex .testimonial-author h3 {
  font-weight: 500;
}
.cards-flex .testimonial-author p {
  font-size: 1.5rem;
  color: #e4e2e2;
}
.testimonial-info p {
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  max-width: 60ch;
}
.testimonial-info p > i {
  font-size: 3rem;
}